  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --br : 6px;

    --bg : #1b1b1b;

    --white80 : rgba(255, 255, 255, 0.8);
    --white40 : rgba(255, 255, 255, 0.4);
    --white16 : rgba(255, 255, 255, 0.16);
    --white8 : rgba(255, 255, 255, 0.08);
    --white4 : rgba(255, 255, 255, 0.04);

    --btn : rgba(9, 153,255, 0.80);
    --btn40 : rgba(9, 153,255, 0.4);
    --btn16 : rgba(9, 153,255, 0.16);

    /* function call */
    --fc : rgba(9, 153, 255, 0);
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;

    background-color: var(--bg);
    
    color: white;

    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    font-weight: 500;
}

p {
    font-size : 14px;
}

.code {
    /* FIXED HEIGHT */
    height : 140px;

    background: var(--white4);
    color : white;

    font-size : 14px;
    font-family: "IBM Plex Mono";

    padding : 20px 28px;

    border : 1px solid var(--white8);
    border-radius: var(--br);

    transition: max-height 0.5s ease;
}

.code.open {
  /* max-height will be set in JS */
  max-height : none;
}

.hoisted-line {
  opacity: 0;
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


button {
    border : 3px solid var(--white8);
    background-color : var(--white8);
    
    border-radius: 8px;

    font-size : 14px;

    width : 120px;
    height : 48px;

    color : var(--white80);

    position: relative;
    overflow: hidden;
    z-index: 0;

    transition : background-color ease 0.3s;
}

.btn:hover {
    background-color: var(--btn40);
    border : 3px solid var(--btn);

    cursor : pointer;
}

.btn-label {
    position: relative;
    z-index: 1;
  }

.btn-bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 0%;
    height: 100%;
    
    background-color: var(--btn40);

    z-index: 1;
    transition: width 0.2s ease;
}

.btn-label {
    position: relative;
    z-index: 2;
}

/* BUTTON STATES */
button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
}

.btn.animating {
    opacity : 1;
    background-color: var(--btn16);
    border: 3px solid var(--btn);
}

.btn.completed {
    border: 3px solid var(--btn);
    background-color: var(--btn16);
    
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
}

/* SCANNER DOT */
.scanner-dot {
    position: absolute;
    width: 12px;
    height: 12px;

    background: var(--btn);
    border-radius: 50%;

    z-index: 100;

    /* opacity : 0; */
    /* speed matters for sacnning speed */
    transition: all 0.1s ease;
}

.scanner-dot.active {
    /* opacity: 1; */
}

@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.3); }
}


/*  */
.original-code {
    position : relative;

    width : 400px;
    
    background: rgba(0, 0, 0, 0.5);
    border-radius: var(--br);

    padding : 20px 20px 28px 16px;

    border: 1px solid #333;
}

.code-line {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family : "IBM Plex Mono";
}

.line-number {
    display: inline-block;
    width: 28px;
    color: var(--white40);
    user-select: none;

    font-size : 12px;
    
    text-align: center;
    /* margin-right: 10px; */

    flex-shrink: 0;    /* flex 줄어들지 않게 */
}

/* TOKEN */
.token {
    padding: 4px;
    border-radius: 2px;
    transition: all 0.3s ease;
}


/* .token.keyword {
    color: #ff79c6;
    font-weight: bold;
}

.token.identifier {
    color: #8be9fd;
}

.token.operator {
    color: #ff6b6b;
}

.token.number {
    color: #bd93f9;
}

.token.string {
    color: #f1fa8c;
}

.token.function {
    color: #50fa7b;
} */

.token.func-call {
    background-color: var(--fc);
    border-radius: 0px;
}

.token.detected {
    color : var(--btn);
}

.flying-variable {
    position: absolute;
    z-index: 200;

    font-family : "IBM Plex Mono";
    font-size : 14px;

    pointer-events: none;
}

/* INDICATOR */
.scope-indicator {
  position: absolute;
  left: 1px;

  width: 8px;
  border-radius: 2px;
  z-index: 5;
}
.scope-hoisting {
  background-color: #4fa3ff; /* blue */
}
.scope-executing {
  background-color: #ffa500; /* orange */
}

/* CALL STACK */
.callstack-container {
    width : 100px;
    height : 200px;

    /* background: var(--white16); */
    display: flex;
    flex-direction: column;
}

.stack-container {
    width :100%;
    height : 100%;
    /* background: var(--white16); */

    border-left: 2px solid var(--white16);
    border-right : 2px solid var(--white16);
    border-bottom : 2px solid var(--white16);

    display: flex;
    flex-direction: column-reverse;
    gap : 4px;
    /* align-items: center; */
    /* justify-content: center; */

    text-align: center;
    
}

.stack-frame {
    min-width : 75%;
    
    padding : 8px;

    font-size : 12px;

    /* padding : 16px; */

    background: var(--btn40);

    border-radius: var(--br);
    border : 1px solid var(--white16);    

    transition: transform 0.4s ease, opacity 0.4s ease;
    transform: translateY(-20px);
    opacity: 0;
}

.stack-frame.show {
    transform: translateY(0);
    opacity: 1;
}