:root {
    --bg : #e5f8ff;
    --pt : #0f7fa6;
}

body {
    /* center div */
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction : column;
    gap : 24px;

    background-color : var(--bg);

    font-family : "Helvetica";
    font-weight : 500;
}

.nav {
    width : 100px;
    height : 50px;
    padding : 24px;

    text-align: center;

    background-size : 200%;
    border : 1px solid var(--pt);

    color : black;
}

@keyframes highlight {
    from {
        background-position: 100%;
    }
    to {
        background-position: 0%;
    }
}

@keyframes dehighlight {
    from {
        background-position: 100%;
    }
    to {
        background-position: 0%;
    }
}

.nav:hover {
    background-image: linear-gradient(to right, var(--pt) 50%, var(--bg) 50%);
    animation-name: highlight;
    animation-duration: 0.75s;
    color: var(--bg);
}

.nav:not(:hover) {
    background-image: linear-gradient(to right, var(--bg) 50%, var(--pt) 50%);
    animation-name: dehighlight;
    animation-duration: 0.75s;
    color: var(--pt);
}